#add-btn{
    padding: 5px 10px;
    border: 0;
    background: #f90;
    color: white;
    border-radius: 5px;
}
ul{
    padding: 0;
    list-style-position: inside;
}
li{
    border-bottom: 1px solid #999;
}
.active{
    background: #abc;
}