@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
	list-style:none;
	margin:0; 
	padding:0;	
}
body,
html{
	width: 100%;
	height: 100%;
}
html {
	scroll-behavior: smooth;
 }
.menu_box{
	padding-left: 2%;
}
.logo img{
	width: 40px;
}

/* 섹션 1 시작 ---------------------------------------------------- */

#section01{
	
	width:100%;
}
.se01-wrap{
	display: flex;
	
}
.text-se01{
	width: 1000px;
	z-index: 99;
	position: absolute;
	top: 30%;
	right:  2%;
	text-align: end;
}

.text-se01 h1{
	font-size: 70pt;
	margin: 0;
	padding: 20px 0;
}
.text-se01 h2{
	font-size: 25pt;
	text-align: start;
	border-bottom: 3px solid black;
	width: 43px;
	margin-left: 90px;
	padding-bottom: 20px;
}
.text-se01 p{
	text-align: start;
	padding-top:20px ;
	font-size: 20pt;
	line-height: 30pt;
	margin-left: 38%;
}

.main-slide{
	width:60%;
	
}
.swiper-container {
	width: 100%;
	
  }
  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  /*이미지 변경시 이곳에서  */

 .main-bg1{
	width: 100%;
	height: 1000px;
	background: url('../images/main01.jpg');
	background-position: center;
	background-size: cover;	
 }
 .main-bg2{
	width: 100%;
	height: 1000px;
	background: url('../images/main02.jpg');
	background-position: center;
	background-size: cover;	
 }
 .main-bg3{
	width: 100%;
	height: 1000px;
	background: url('../images/main03.jpg');
	background-position: center;
	background-size: cover;	
 }
 .main-bg4{
	width: 100%;
	height: 1000px;
	background: url('../images/main04.jpg');
	background-position: center;
	background-size: cover;	
 }
 .bg1{
	width: 100%;
	height: 1000px;
	background: url('../images/art01.jpg');
	background-position: center;
	background-size: cover;	
 }
/* 번호 컨트롤러 */
 .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	color:#000;
	opacity: 1;
	background:rgba(255, 255, 255, 0);
	border: none;
}
.swiper-pagination{
	position: absolute;
	top:150%;
	padding-left: 38.5%;
}
#swiper-pagination span:focus {
	outline:none;
	color: #6ea801;
}

/* 섹션 1 끝 */

/* 섹션 2 시작 ---------------------------------------------------- */
#section02{
	width:100%;
	background: #fff;

}
.cover{
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;

}
.sec-2-title{
	width: 100%;
	display: flex;
	justify-content: center;
}
.sec-2-title img{
	width: 30%;
}

.sec-2-container{
	width: 100%;
	padding-top: 100px;
}
/* 목록4 */
.sec-2-box{
	text-align: center;
	width: 300px;
	border: 1px solid lightgray;
	box-sizing: border-box;
}
.sec2-align{
	width: 1280px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.sec-2-box>ul>:first-child{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: bold;
}
.sec-2-box>ul>:nth-child(3){
	margin-top: 30px;
	margin-bottom: 50px;
}
.sec-2-box:hover{
	border: 1.5px solid #cfc328;
	box-sizing: border-box;
}
.sec-2-box img{
	width:240px ;
}
@media(max-width: 1000px){
	.sec-2-title img{
		width: 600px;
		
	}
}
@media(max-width: 767px){
	.sec2-align{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.sec-2-box{
		margin: 5px;
	}
	.sec-2-title img{
		width: 400px;
	}
}

/* 섹션 2 끝 */


/* 섹션 3 시작 ---------------------------------------------------- */
#section03{
	width:100%;
	padding-top: 10%;
	padding-bottom: 12%;	
}
.container03 h2{
	color:#6ea801;
}
.bg-c{
	background:#e2f1a6e5;
}
.sec03-container{
	margin: 0 50px;
}

.sec03-tab>ul{
	width: 100%;
	display: flex;
}
.sec03-tab>ul>li>a{
	padding: 10px 0 ;
}
.sec03-tab>ul>li:not(:first-child){
	padding-left: 10px;
}
/* tab */

.slide-text>p{
	width: 350px;
	line-height: 25px;
	margin-top: 50px;
}
.tab-txt-2,
.tab-txt-3{
	display: none;
}
#off{
	display: none;
	justify-self: end;
}
/* text */
/* 지혜의 숲 */
.W-bg-1{
	background: url('../images/Layer1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}

.W-bg-2{
	background: url('../images/Layer2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}

.W-bg-3{
	background: url('../images/Layer3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}

.W-bg-4{
	background: url('../images/Layer4.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-5{
	background: url('../images/Layer5.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-6{
	background: url('../images/Layer6.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-7{
	background: url('../images/Layer7.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-8{
	background: url('../images/Layer8.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-9{
	background: url('../images/Layer9.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-10{
	background: url('../images/Layer10.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-11{
	background: url('../images/Layer11.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-12{
	background: url('../images/Layer12.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-13{
	background: url('../images/Layer13.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
.W-bg-14{
	background: url('../images/Layer14.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;

}
/* 활자의 숲 */
.h-bg-1{
	background: url('../images/press1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-2{
	background: url('../images/press2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-3{
	background: url('../images/press3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-4{
	background: url('../images/press4.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-5{
	background: url('../images/press5.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-6{
	background: url('../images/press6.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-7{
	background: url('../images/press7.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-8{
	background: url('../images/press8.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-9{
	background: url('../images/press9.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-10{
	background: url('../images/press10.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-11{
	background: url('../images/press11.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-12{
	background: url('../images/press12.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-13{
	background: url('../images/press13.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.h-bg-14{
	background: url('../images/press14.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
/* 지지향 */
.ji-bg-1{
	background: url('../images/ji-1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-2{
	background: url('../images/ji-2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-3{
	background: url('../images/ji-3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-4{
	background: url('../images/ji-4.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-5{
	background: url('../images/ji-5.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-6{
	background: url('../images/ji-6.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-7{
	background: url('../images/ji-7.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-8{
	background: url('../images/ji-8.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-9{
	background: url('../images/ji-9.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-10{
	background: url('../images/ji-10.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-11{
	background: url('../images/ji-11.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}
.ji-bg-12{
	background: url('../images/ji-12.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 300px;
	height: 400px;
}



/* 전체 비율 , 패딩 */
.container03{
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 70px;
	position: relative;
}
.sec03-tab{
	position: absolute;
	top:42px;
	padding-bottom: 20px;
}
.sec03-warp{
	display: flex;
}
.text{
	width: 35%;
	padding-top: 50px;
}
.slide{
	width: 65%;
}

/* 전체 비율 , 패딩 끝 */



/* slide */
@media(max-width: 365px){
	.text{
		width: 100%;
	}
	.slide-text>p{
		width: 200px;
		padding-right: 50px;
	}
	.slide{
		width: 100%;
	}
	.container03{
		padding: 0!important;
	}
}
@media(max-width: 767px){
	.sec03-tab{
		padding-left: 10px;
	}
	.sec03-warp{
		display: flex;
		flex-direction: column;
		
	}
	.slide-text{
		margin-left: 10px;
		padding-bottom: 50px;
		width: 100%;
	}
	.slide{
		width: 100%;
	}
	
	.slide-text>p{
		width: 300px;
		margin-bottom: 80px;
		
	}
}

/* 섹션 3 끝 */
/* 섹션 4 시작 ---------------------------------------------------- */	
#section04{
	position: relative;
	width: 100%;
	
}
.txt04{
	position: absolute;
	width: 30%;
	background: rgba(255, 255, 255, 0.788);
	z-index: 100;
	margin: 8% 50px;
	padding: 100px 0;
	padding-left:60px;

}
.txt04 h1{
	font-size: 50px;
	margin-bottom: 10px;
}
.txt04 h2{
	font-size: 30px;
	margin-bottom: 100px;
}
.txt04 p{
	width: 87%;
	line-height: 50px;
	font-size: 20px;
}
/* 텍스트 */
img{
	border: none;
}
#slide-container{
    width: 100%;
    height: 1000px;
    background-color: #ef80ef;
	overflow: hidden;
}
#slide-wrap{
    width: 7680px;
    background-color: red;
	position: relative;

}
#slide-wrap>div{
	transition: 1s;
	float: left;
}
.sl-box{
	line-height: 0;
}

/* 슬라이드 */
/* 섹션 4 끝 */
/* 섹션 5 시작 ---------------------------------------------------- */	
#section05{
	width:100%;
	background:#e2f1a6;

}

.map-wrap{
	display: flex;
	width: 100%;
	padding: 250px 0 200px 0;
	justify-content: center;
}
.map-text{
	display: flex;
	justify-content: center;
	
	margin-right: 5%;
	text-align: center;
	line-height: 30px;
}
.map-text h1{
	line-height: 16px;
	padding-bottom: 20px;
}
.map-text h2{
	padding: 15px 0;
}
#map{
	width:500px ;
	height:500px;
	margin-right: 5%;
}

@media(max-width: 767px){
	.map-wrap{
		flex-direction: column;
		justify-content: space-around;
		
	}
	.map-text{
		text-align: start;
		width:100%;
		margin-bottom: 50px;
	}
	.map-cont{
		margin: 0 auto;
	}
}
/* 섹션 5 끝 */

/* 메뉴 시작 ---------------------------------------------------- */
.menu_box{
	width:96%; height:90px; color:#FFF; position:fixed; transition:all 0.5s ease-in-out; 
	z-index: 900;
	-webkit-transition:all 0.5s ease-in-out;
}
	
.fixed{
	background:rgba(0,0,0,0.0);
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}
.logo a{
	font-size:46px;
	padding:28px 0 0 0px;
	float:left;
}

.menu_box > ul{
	float:right; 
}
.menu_box li{
	text-align:center;
	margin-left: 50px;
}
.menu_box li a{
	text-decoration:none;
	color:#000; 
	line-height:100px;
	font-size:14px;
}
.asidemenu ul:after {
    content:"";
    display:block;
    clear:both;
}

@media(max-width:767px){
	.asidemenu{
		display: none;
	}
	.menuBtn{
		display: block;
		float: right;
		margin-top: 30px;
		margin-right: 10px;
		border: none;
		background: none;
	}
	.menuBtn:focus {
		outline:none;
		
	}
	
}
@media(min-width:768px){
	.menuBtn {
		display:none;
	}
	.menu_box li{
		display:block !important;
	}
	.asidemenu li{
		float:left;
		width:auto;
		
	}
	/**메뉴부분 마우스 오버시 보더 바텀 생김 **/

	.menu_box li a:hover{
		border-bottom:1px solid #000;
		padding-bottom:1px;
		color:#000;
	}

	.menu_box li:nth-child(2) a:hover{
		border-bottom:1px solid #000;
		padding-bottom:1px;
		color:#000;
	}

	.menu_box li:nth-child(3) a:hover{
		border-bottom:1px solid #000;
		padding-bottom:1px;
		color:#000;
	}

	.menu_box li:nth-child(4) a:hover{
		border-bottom:1px solid #000;
		padding-bottom:1px;
		color:#000;
	}

	.menu_box li:nth-child(5) a:hover{
		border-bottom:1px solid #000;
		padding-bottom:1px;
		color:#000;
	}

}

/**메뉴부분 마우스 오버시 보더 바텀 생김 **/
.menu_box li a:hover{
	border-bottom:1px solid #000;
	padding-bottom:1px;
	color:#000;
}

.menu_box li:nth-child(2) a:hover{
	border-bottom:1px solid #000;
	padding-bottom:1px;
	color:#000;
}

.menu_box li:nth-child(3) a:hover{
	border-bottom:1px solid #000;
	padding-bottom:1px;
	color:#000;
}

.menu_box li:nth-child(4) a:hover{
	border-bottom:1px solid #000;
	padding-bottom:1px;
	color:#000;
}

.menu_box li:nth-child(5) a:hover{
	border-bottom:1px solid #000;
	padding-bottom:1px;
	color:#000;
}


  /* 메뉴끝 */

/* 메뉴 끝 ---------------------------------------------------- */
