/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "BillieHarleyRegular";
    src: url("../fonts/BillieHarley.eot"); /* IE9 Compat Modes */
    src: url("../fonts/BillieHarley.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/BillieHarley.woff") format("woff"), /* Modern Browsers */
      url("../fonts/BillieHarley.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Typo_PapyrusL";
    src: url("../fonts/Typo_PapyrusL.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Typo_PapyrusL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("../fonts/Typo_PapyrusL.woff") format("woff"), /* Modern Browsers */
      url("../fonts/Typo_PapyrusL.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    color: inherit;
}
/* reset */
/* section01 start */
/* bg */
.section01{
    background: url("../img/sonata5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  @media(max-width:376px){
    .section01{
        background-position: -600px!important;
    }
}
@media(max-width:767px){
    .section01{
        background-position:-950px;
    }
}
/* logo */
.logo_wrab{
    margin-top: 10px;
    
}

/* title */
#white{
    color: #fff;
}
.title01{    
    text-align: right;   
    padding-top: 145px;
    padding-right: 110px;
    text-shadow: black 1px 0 100px;
}
.title01 h1{
    font-family: "BillieHarleyRegular";
    font-size: 50pt;
    
}
.title01 h2{
    font-family: "Typo_PapyrusL";
    font-size: 70pt;
    margin-top: 10px;
}
@media(max-width:376px){
    .title01{            
        padding-top: 70px!important;
        padding-right: 0;
    }
    .title01 h1{
        font-size: 30pt!important; 
    }
    .title01 h2{
        padding-top: 20px!important;
        font-size: 40pt!important;
    }
}
@media(max-width:767px){
    .title01{             
        padding-top: 70px;
        padding-right: 0;
    }
    .title01 h1{
        font-family: "BillieHarleyRegular";
        font-size: 30pt;
        text-align: center;
    }  
    .title01 h2{
        text-align: center;
        font-size: 40pt;        
    }
}
/* 스크롤버튼 */
.g_wrap{
    text-align: center;
    padding-top: 27%;
}
@media(max-width:376px){
    .g_wrap{        
        padding-top: 100%;        
    }
}
@media(max-width:767px){
    .g_wrap{
        text-align: center;
        padding-top: 100%;
    }
}